@use '@/styles/common' as *;

.scrollable {
  max-height: calc(100dvh - #{$headerHeight} - 100px - 90px);
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;

  :global(.product) & {
    max-height: calc(100dvh - #{$headerHeight} - 100px);
  }

  :global(.section-contents) &:global(.section-inner) {
    flex-wrap: nowrap;
  }

  @include mq() {
    max-height: calc(100dvh - #{$headerHeightSp} - 100px - 90px);

    :global(.product) & {
      max-height: calc(100dvh - #{$headerHeightSp} - 100px);
    }
  }
}
