@use '@/styles/common' as *;

.notFound {
  background: color(cardBackground);
  color: color(bright);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.code {
  margin: 0;
  font-size: 8rem;
  font-weight: bold;
  @include mq() {
    font-size: 5rem;
  }
}

.message {
  margin: 0;
  font-size: 1.6rem;
  @include mq() {
    font-size: 1.4rem;
  }
}

.backButton {
  margin-top: 40px;
  font-size: 1.4rem;
  padding: 20px 40px;
}
