@use '@/styles/common' as *;

.contact {
  background-image: url('/img/bg/contact.webp');
  background-position: 80%;

  color: color(bright);
}

.telList {
  @include flex(wrap, flex-start, flex-start);
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
}
.buttonWrapper {
  margin-top: 200px;
}
